*{
    background-color: rgb(255, 255, 255);
}
div{
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
}
h1{
    /* margin-top: 10px; */
    float: left;
    color: rgb(88, 158, 202);
    padding: 20px 20px;
    margin: 20px,20px;
}
img{
    /* margin-top: 10px; */
    float: left;
    height: 100px;
}